---
import BaseHead from '/src/components/BaseHead.astro';
import Header from '/src/components/Header.astro';
import Footer from '/src/components/Footer.astro';
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blog');

Astro.redirect("/blog/1")
---
<html lang="en">
	<head>
		<BaseHead title="Blog" description="From Math Anxiety to Math Confidence." />
	</head>

	<body>
		<Header />

		<main>
<div class="grid grid-cols-12 gap-4 mx-auto p-3">
  {blogEntries.map(blogPostEntry => (
    <a href={`/${blogPostEntry.slug}`} class="col-span-4 mx-auto p-5">
      <img src={blogPostEntry.data.heroImage} alt={blogPostEntry.data.alt}>
      {blogPostEntry.data.title}
    </a>
  ))}
</div>
</main>
		<Footer />
	</body>
</html>
