@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  @font-face {
    font-family: 'Ouroboros';
    src: url('/fonts/Ouroboros-Regular.woff2') format('woff2'),
        url('/fonts/Ouroboros-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Righteous';
    src: url('/fonts/righteous-v13-latin-regular.woff2') format('woff2'),
        url('/fonts/righteous-v13-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/playfair-display-v30-latin-regular.woff2') format('woff2'),
        url('/fonts/playfair-display-v30-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  @apply text-lg font-sans;
}
  
}

@layer components {

.btn {
    @apply outline outline-1 outline-accent-900 mt-8 md:text-2xl p-2 text-black-900 bg-accent-400 rounded hover:rounded-xl hover:bg-accent-600;
}

  }
  
 