---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import HeaderHero from '../components/HeaderHero.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Hero from '../components/Hero.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<HeaderHero />
		<main>
			<Hero />
		</main>
		<Footer />
	</body>
</html>
