---
import BaseHead from "../components/base/BaseHead.astro";
import Footer from "../components/base/Footer.astro";
import Header from "../components/base/Header.astro";
import Search from "astro-pagefind/components/Search";
---
<!DOCTYPE html>
<html lang="en">
<head>

<BaseHead title="Search" description="Find What You are Looking For" />

</head>
<body class="dark:bg-slate-500 bg-neutral-300">
    <Header />
<main class="prose prose-xl flex min-h-screen flex-col justify-between dark:prose-invert">
<div class="dark:text-white-50">
<h2 class="p-5 m-3">What is Your Quest?</h2>
<div class="p-5 m-3">
<Search />
</div>
</div>
<div></div>
    
</main>
<Footer />
	</body>
</html>
