---
import { getCollection } from 'astro:content';
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems } from "astro-navbar";

const blogCollection = await getCollection('blog');
const categories = [...new Set(blogCollection.map(blog => blog.data.categories))];
---

<header>
	<nav class="bg-secondary-200 text-black-900">
		<div class="flex justify-start md:justify-center gap-9 md:gap-11">
		<Astronav>
			<div class="block md:hidden">
				<MenuIcon class="w-12 h-12 text-black-900" />
			</div>
			  <!--
			  // add `hidden` class by default for mobile
			  // `lg:flex` is to make it visible in desktop
			  // You may use custom CSS instead.
			  -->
			  <div>
				<div>
					<MenuItems>
						<ul class="flex flex-col md:flex-row md:gap-8 gap-5 p-8">
						  {categories.map((category) => (
							<li>
							  <a class="border-b-4 border-black-900 hover:text-white-50 text-lg md:text-xl" href={`/category/${category}`}>{category.replace(/-/g, ' ').toUpperCase()}</a>
							</li>
						  ))}
						</ul>
					  </MenuItems>
					  
			  </div>
  </Astronav>
  </div>
		
	</nav>
</header>
<hr>