---
import { getCollection } from 'astro:content';
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems } from "astro-navbar";

const blogCollection = await getCollection('blog');
const categories = [...new Set(blogCollection.map(blog => blog.data.categories))];
---

<header>
	<nav class="bg-secondary-200 text-black-900 p-10">
		<div class="flex justify-start md:justify-center gap-11">
			<div class="block md:hidden">
				<button id="menuButton">
					<i class="fa-solid fa-bars fa-2xl text-black-900"></i>
				</button>
			</div>
			<ul id="menuList" class="hidden md:flex flex-col md:flex-row gap-11">
	
			
						  {categories.map((category) => (
							<li>
							  <a class="md:border-b-4 md:border-black-900 hover:text-white-50 text-lg md:text-xl p-3 md:p-0 gap-11" href={`/category/${category}`}>{category.replace(/-/g, ' ').toUpperCase()}</a>
							</li>
						  ))}
						
					  
					</ul>
				</div>
			</nav>
			
		</header>
		<hr>
		
		
		
		