---
import SocialLink from "./SocialLink.astro";

const today = new Date();
---
<hr>
<footer id="colophon" class="bg-primary-800 text-white-50 p-10">
    <div class="flex justify-between flex-row">
     <div class="col hidden md:flex">
       <ul>
        <li class="social"><SocialLink icon="fa-brands fa-mastodon fa-2xl" url="https://mathstodon.xyz/@suzza" name="Follow on Mastodon" /></li>
        <li class="social"><SocialLink icon="fa-brands fa-github fa-2xl" url="https://github.com/susansilver" name="Follow on GitHub" /></li>
       <li class="social"> <SocialLink icon="fa-brands fa-youtube fa-2xl" url="https://www.youtube.com/@suzzasilver/" name="Follow on YouTube"/></li>
      <li class="social"><SocialLink icon="fa-brands fa-pinterest fa-2xl" url="https://www.pinterest.com/beautyofmath" name="Follow on Pinterest"></SocialLink></li>
       <li class="social"> <SocialLink icon="fa-solid fa-terminal fa-2xl" url="https://suzza.dev/" name="Visit Suzza.dev Website"/></li>
      </ul>
    </div>
    <div class="col">
      &copy; 2018 - <span id="copy"></span><a href="https://susansilver.net" class=" hover:text-secondary-200 visited:text-white-50 px-2 md:text-2xl">Suzza Silver <i class="fa-solid fa-link"></i></a>
    </div>
  </div>
	</footer> 

  <script>
    const menuButton = document.getElementById("menuButton");
  const menuList = document.getElementById("menuList");
  
  menuButton.addEventListener("click", () => {
    menuList.classList.toggle("hidden");
  });
  
  </script>
  
  

  <script>

document.querySelector("#copy").textContent =
    new Date()
      .getFullYear()
      .toString();


</script>
