---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems } from "astro-navbar";
---

<header>
	<h2 class="font-logo dark:bg-black-900 dark:text-white-50 bg-secondary-400 p-9 text-5xl md:text-8xl">
		Beauty of Mathematics
	</h2>
	<nav class="bg-secondary-200 text-black-900">
		<div class="flex justify-start md:justify-center p-3 gap-9 md:gap-11">
			<div class="block md:hidden">
				<button id="menuButton">
					<i class="fa-solid fa-bars fa-2xl text-black-900"></i>
				</button>
			</div>
			<ul id="menuList" class="hidden md:flex flex-col md:flex-row md:gap-3">
				<li><HeaderLink href="/">Home</HeaderLink></li>
				<li><HeaderLink href="/blog">Blog</HeaderLink></li>
				<li><HeaderLink href="/about">About</HeaderLink></li>
				<li><HeaderLink href="mailto:beautyofmathematics@susansilver.net">Email</HeaderLink></li>
				<li><HeaderLink href="/privacy-policy">Privacy Policy</HeaderLink></li>
				<li><HeaderLink href="/downloads">Cross Stitch</HeaderLink></li>
				<li><HeaderLink href="/hitchhikers-guide-to-the-galaxy">Hitchhiker’s Guide (42)</HeaderLink></li>
				<li><HeaderLink href="/rss.xml">RSS</HeaderLink></li>
			</ul>
		</div>
	</nav>
	
</header>
<hr>

