--- 
const {icon,url, name} = Astro.props
---
<a href={url} rel="me" data-te-toggle="tooltip" title={name}><i class={icon} ></i></a>

<script>
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-te-toggle="tooltip"]'));
tooltipTriggerList.map((tooltipTriggerEl) => new te.Tooltip(tooltipTriggerEl));
</script>

