---
import HeaderLink from './HeaderLink.astro';

---

<header>
	<nav class="bg-secondary-200 text-black-900 flex justify-center place-items-center gap-8 md:gap-16 text-center md:text-2xl p-3">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
</header>
<hr>
