---
const {prevUrl, nextUrl} = Astro.props
---

<nav class="text-3xl p-5" aria-label="Blog pages">
    {
        prevUrl && (
            <a href={prevUrl}>Previous</a>
        )
    }
{
    nextUrl && (
        <a href={nextUrl}>Next</a>
    )
}
</nav>