---

---
<div class="text-3xl m-1 dark:bg-white-50 dark:text-black-900 bg-black-900 text-white-50 p-5 sm:text-xl">
    <i class="fa-solid fa-quote-right relative text-xl top-2 left-2"></i>
        <div class="p-2 font-display">
          <p><slot /></p>
      </div>
      </div>