---
const { quote, cite } = Astro.props;
---
<div class="sm:text-xl m-1 dark:bg-gray-300 dark:text-gray-900 bg-gray-900 text-gray-300 p-5 text-3xl">
    <i class="fa-solid fa-book-open relative text-xl top-2 left-2"></i>
        <div class="p-2 font-display">
          <p>{quote}</p>
            <hr>
         <span> {cite}</span>
      </div>
      </div>