---

---
<div class="text-xl m-1 bg-black-900 text-white-50 p-5">
    <i class="fa-solid fa-quote-right relative text-xl top-2 left-2"></i>
        <div class="p-2 font-quotes">
          <p><slot /></p>
      </div>
      </div>