<h2>
  <i id="tocButton" class="fa-solid fa-caret-down hover:scale-150 hover:text-accent-500"></i> Table of Contents
</h2>
<div id="TOC">
    <div id="tocList" class="hidden">
      <slot />
    </div>
  </div>


<script>
  const tocButton = document.getElementById("tocButton");
  const tocList = document.getElementById("tocList");

  tocButton.addEventListener("click", () => {
    tocList.classList.toggle("hidden");
  });
</script>

