<h2>
  <button id="tocButton" aria-expanded="false" aria-controls="tocList"><i aria-hidden="true" class="fa-solid fa-caret-down hover:scale-150 hover:text-accent-500"></i> Table of Contents</button>
</h2>
<section>
    <div id="tocList" class="hidden" aria-labelledby="tocButton">
      <slot />
    </div>
    <a href="#comment-box"><button class="btn">Skip to Comments</button></a>
</section>

<script>
  const tocButton = document.getElementById("tocButton");
  const tocList = document.getElementById("tocList");

  tocButton.addEventListener("click", () => {
    tocList.classList.toggle("hidden");
    tocButton.setAttribute("aria-expanded", tocList.classList.contains("hidden") ? "false" : "true");
  });
</script>