---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/base/BaseHead.astro';
import Footer from '../components/base/Footer.astro';
import Header from '../components/base/Header.astro';

type Props = CollectionEntry<'authors'>['data'];

const { frontmatter } = Astro.props;
---
<html lang="en">
	<head>
		<BaseHead title={frontmatter.title} description={frontmatter.description} />
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div id="meta" class="bg-primary-600 text-white-50 p-20">
					<h1 class="title font-display flex justify-center place-items-center text-3xl md:text-6xl">{frontmatter.title}</h1>
					</div>
				<hr />
				<div>
					<div class="mx-auto grid grid-cols-12">
			
						<div class="prose prose-slate prose-xl md:prose-lg col-span-10 col-start-2 col-end-12 md:col-span-6  md:col-start-4 md:col-end-10 mx-auto">
				<slot />
						</div>
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
