---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';


type Props = CollectionEntry<'blog'>['data'];

const { frontmatter } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={frontmatter.title} description={frontmatter.description} />
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div id="meta" class="bg-primary-400 text-white-50 p-8">
					<h1 class="title font-display flex justify-center place-items-center text-3xl md:text-6xl">{frontmatter.title}</h1>
				
							<div class="flex justify-center place-items-center text-xl md:text-3xl p-3">
								Last updated on {frontmatter.updatedDate}
							</div>
					</div>
				<hr />
				<div>
					<div class="mx-auto grid grid-cols-12">
			
						<div class="prose prose-slate prose-xl md:prose-lg col-span-10 col-start-2 col-end-12 md:col-span-6  md:col-start-4 md:col-end-10 mx-auto">
				<slot />
						</div>
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
